{% extends 'base.html' %}

{% block title %}
    Calendrier
{% endblock %}

{% block static %}
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/base.css"/>
{% endblock %}

{% block container %}

    <div class="block-white">
        <h1 class="color-brown font-weight-light" style="text-align: center;">Calendrier de l'association </h1>
    </div>
    <div class="block-white">
        <iframe src="https://calendar.google.com/calendar/embed?src=nf2o3rtga7ie9uc4eq9rt2bstg%40group.calendar.google.com&ctz=Europe%2FParis"
                style="border: 0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
    </div>

    <script src="/static/js/scrolling.js"></script>
{% endblock %}