{% extends "base.html" %}

{% block title %}

    CONTACT

{% endblock %}

{% block static %}
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/base.css"/>
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/home.css"/>
    <script src="/static/js/home.js"></script>
{% endblock %}

{% block container %}
    <div>
        <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=45.1249851,1.0941955&amp;spn=10,10&amp;t=m&amp;z=15&amp;output=embed"></iframe>
    </div>
    <div class="row block-white">
        <div class="col">
            <h1 class="font-weight-light"> FabLab et atelier mobile </h1>

            <p>Phone:
                <strong>06 59 76 38 90</strong>
            </p>
            <p>Email:
                <strong><a href="mailto:'tristan.herou@gmail.com'">tristan.herou@gmail.com</a></strong>
            </p>

        </div>
        <div class="col">
            <h1 class="font-weight-light"> Café associatif </h1>
            <p>Phone:
                <strong>06 30 12 97 08</strong>
            </p>
            <p>Email:
                <strong><a href="mailto:'tristan.herou@gmail.com'">moya24@hotmail.fr</a></strong>
            </p>
        </div>
        <div class="col">
            <h1 class="font-weight-light"> Adresse: </h1>
            <p>
                <strong>Domaine de la Salamandre<br>Ferme de Porcher, 24290
                    <br>Auriac-du-Périgord</strong>
            </p>
        </div>

    </div>

    <div class="block-white">
        {% if envoi %}Votre message a bien été envoyé !{% endif %}
        <form action="/envoieContact" role="form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row lead">
                <div class="col">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" name="user_name"></input>
                </div>
                <div class="col">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" class="form-control" name="user_email">
                </div>
                <div class="col">
                    <label for="phone">Phone Number</label>
                    <input type="tel" id="phone" class="form-control" name="user_phone"></input>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="message">Message</label>
                    <textarea id="message" name="user_message" class="form-control"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>

        </form>
    </div>

    <script src="/static/js/scrolling.js"></script>

{% endblock %}

