{% extends 'base.html' %}

{% block title %}
    Gouvernance
{% endblock %}

{% block static %}
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/base.css"/>
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/home.css"/>
    <script src="/static/js/home.js"></script>
{% endblock %}


{% block container %}

    <div class="block-white">
        <h1 class="font-weight-light color-brown" style="text-align: center;">Gouvernance de l'association </h1>
        <p class="lead text-justify"> L'association foonctionne en système holacratique, une personne égale une voix.
            Cependant, dès qu'une déision doit être prise, l'objection doit être raisonnable. C'est à dire que la
            personne
            doit justifier qu'elle ne peut pas vivre avec cette proposition. Il en convient alors d'arriver avec une
            nouvelle
            proposition et de trouver avec le groupe une solution pour lever le frein.
        </p>
    </div>

    <div class="block-white">
        <img src="/static/img/schemas/Gouvernance-2019.png" style="max-width: 100%;">
    </div>




{% endblock %}