{% extends "base.html" %}

{% block title %}
    HOME
{% endblock %}

{% block static %}
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/base.css"/>
    <link rel="stylesheet" media="screen" type="text/css" href="/static/css/home.css"/>
    <script src="/static/js/home.js"></script>
{% endblock %}

{% block container %}

    <div class="block-white">
        <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="slider-size carousel-item active">
                    <img src="../../../static/img/salamandre/route.jpg" class="" style="max-width: 100%"/>
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="display-4"> Le domaine de la Salamandre </h3>
                        <p class="lead"> Gîtes et chambres d'hôtes </p>
                    </div>
                </div>
                <div class="slider-size carousel-item">
                    <img src="../../../static/img/salamandre/valle.jpg" class="" style="max-width: 100%"/>
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="display-4">EcoCycle</h3>
                        <p class="lead">un modèle agricole d'urbanisme rurale</p>
                    </div>
                </div>
                <div class="slider-size carousel-item">
                    <img src="../../../static/img/salamandre/verger.jpg" class="" style="max-width: 100%"/>
                    <div class="carousel-caption d-none d-md-block">
                        <h3 class="display-4">Le verger</h3>
                        <p class="lead"> 130 arbres fruitiers sur le domaine </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Content -->
    <div class="row">
        <div class="col">
            <div class="block-white">
                <h1 class="font-weight-light color-brown"> EcoCycle, à la recherche d’une autre manière de vivre</h1>
                <p class="lead text-justify">Au printemps 2014, quatre jeunes Dordognais, déçus de la dépendance
                    actuelle de
                    notre
                    civilisation au consumérisme, aux énergies fossiles et à l’industrie agroalimentaire décident de
                    proposer un modèle de société qui résonne davantage avec leur philosophie.
                    Ainsi naît EcoCycle : un projet qui a pour but de créer et propager une nouvelle manière de vivre en
                    communauté en zone rurale, en réduisant au maximum son impact sur la planète.</p>
                <h1 class="font-weight-light color-brown"> Un modèle agricole d'urbanisme rural </h1>
                <p class="lead text-justify"> Des habitats autonomes en énergie et en eau, intégrées au centre de
                    parcelles
                    utilisées pour
                    l’agriculture, dans le respect de l’environnement. Les habitants d’EcoCycle non seulement
                    travaillent la
                    terre, mais vivent auprès d’elle au quotidien. Une sorte de retour aux sources de l’agriculture,
                    mais
                    qui profite aussi des nouvelles technologies et dynamiques actuelles.
                    C’est aussi un lieu ouvert qui accueille le public pour des formations, vacances à la ferme, et au
                    sein
                    d’un café associatif avec des événements réguliers. Une véritable fiesta de partage, d’apprentissage
                    et
                    de croissance commune ! Nous espérons ainsi contribuer au dynamisme du territoire local en créant
                    une
                    large communauté rurale ouverte à tous.
                    A terme, la mission d’EcoCycle est de donner une solution clé en main à des personnes qui
                    souhaiteraient
                    eux aussi tenter ce nouveau type d’urbanisme rural. C’est à dire que nous mettrons les données et
                    expériences que nous aurons acquis à disposition de tous ceux que ça intéresse.
                </p>
            </div>
            <div class="block-white text-justify">
                <h1 class="font-weight-light color-brown"> Une association pour incarner, développer, animer et
                    promouvoir ce
                    projet </h1>
                <p class="lead"> Nous avons crée une association pour promouvoir le projet vers l'éxtérieur et
                    porter le tiers-lieu. Cette association a été crée en avril 2019. Nous avons rencontré les élus
                    locaux,
                    la communauté de commune et sommes en pleine demarche de subvention avec l'AMI tiers-lieu Nouvelle
                    Aquitaine et
                    le dispositif AMPLI deployé par des fonds européens.</p>
            </div>

            <div class="block-white">
                <h1 class="font-weight-light color-brown"> Le quartier aujourd'hui</h1>
                <img src="/static/img/schemas/EcoCycle-today.png" style="max-width: 100%;">
            </div>
            <div class="block-white">
                <h1 class="font-weight-light color-brown"> Work in progess</h1>
                <p class="lead text-justify">Pour le moment, ECOCYLE RESTE UN PROJET. Mais un projet qui avance à grands
                    pas. Aujourd’hui, nous sommes une équipe d’enfer de 10 personnes, et nous avons trouvé un endroit à
                    Auriac du Périgord, le <a href="https://www.domainedelasalamandre.com">Domaine de la Salamandre</a>,
                    une magnifique propriété de 40 hectares près de Thenon en Dordogne. Nous travaillons depuis
                    déjà 8 mois pour que cette petite graine d’idée puisse germer et devenir réalité. </p>
                <img src="/static/img/salamandre/hameau-salamandre.jpg" style="max-width: 100%">
                <p class="lead"> Le corp de ferme de la Salamandre </p>
            </div>
        </div>
    </div>

    <div id="service" class="mx-auto"
         style="background: rgba(255,255,255,1); font-size:30px; padding: 30px; margin: 10px">
        <div class="row">
            <div class="mx-auto">
                <button class="btn-services lead" onclick="showHidden('soutenirEcoCycle')" id="membres"> Soutenir
                    EcoCycle
                </button>
            </div>
        </div>
        <div hidden class="row service" id="soutenirEcoCycle">
            <div class="col">
                <div class="mx-auto">
                    <div id="adhesions">
                        <a href="/adhesion">
                            <button class="btn-services lead"> Adhérer</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="mx-auto">
                    <a href="/dons">
                        <button class="btn-services lead"> Faire un don</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
    let positionInPage = $('#service').offset().top;
        $(window).scroll(function () {
            if ($(window).scrollTop() >= positionInPage) {
                // fixed
                $('.btn-services').addClass("moove");
            } else {
                // relative
                $('.btn-services').removeClass("moove");
                HiddenServices();
            }
        });
    </script>

{% endblock %}
