{% extends "base.html" %}

{% block title%}
{{article.titre}}
{% endblock %}

{% block static %}
<link rel="stylesheet" media="screen" type="text/css" href="/static/css/base.css"/>
<link rel="stylesheet" media="screen" type="text/css" href="/static/css/home.css"/>
{% endblock %}


{% block container %}
<div class="block-white">
    <h3 class="font-weight-light">{{ article.titre }}</h3>
    <div class="row">
        <div class="col">
            <img src="/static/{{article.img.url}}" style="max-width: 100%">
        </div>
        <div class="col">
            <p>{{ article.contenu}}</p>
        </div>
    </div>
</div>
{% endblock %}