{% extends "base.html" %}

{% block title %}
ACTI
{% endblock %}
{% block static %}
<link rel="stylesheet" media="screen" type="text/css" href="/static/css/base.css"/>
<link rel="stylesheet" media="screen" type="text/css" href="/static/css/home.css"/>
<link rel="stylesheet" media="screen" type="text/css" href="/static/css/acti.css"/>
{% endblock %}

{% block container %}
<div class="font-weight-light color-brown mx-auto"
     style="background: rgba(255,255,255,1); font-size:30px; padding: 10px">
    <img class="mx-auto" src="../../../static/img/logos/AcTI-logo.png" style="max-width: 100%; ">
    L'Atelier coopératif de Transition et d'Innovation
</div>
<div class="row">

    <div id="mockup" class="mx-auto" style="padding: 20px">
        <div id="carouselExampleIndicators" class="carousel slide mx-auto" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active slider-size">
                    <img src="../../../static/img/maquette/Mockup_artisan.png"
                         style="max-width: 100%; max-height: 100%"/>
                </div>
                <div class="carousel-item  slider-size">
                    <img src="../../../static/img/maquette/Mockup_cafe.png" style="max-width: 100%; max-height: 100%"/>
                </div>
                <div class="carousel-item  slider-size">
                    <img src="../../../static/img/maquette/Mockup_coworking.png"
                         style="max-width: 100%; max-height: 100%"/>
                </div>
                <div class="carousel-item  slider-size">
                    <img src="../../../static/img/maquette/Mockup_environnement.png"
                         style="max-width: 100%; max-height: 100%"/>
                </div>
                <div class="carousel-item  slider-size">
                    <img src="../../../static/img/maquette/Mockup_fablab.png"
                         style="max-width: 100%; max-height: 100%"/>
                </div>
                <div class="carousel-item  slider-size">
                    <img src="../../../static/img/maquette/Mockup_paysan.png"
                         style="max-width: 100%; max-height: 100%"/>
                </div>
            </div>
            <a class="carousel-control-prev" style="color: black;" href="#carouselExampleIndicators" role="button"
               data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" style="color: black;" href="#carouselExampleIndicators" role="button"
               data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>


    <div class="block-white">
        <p class="color-brown font-weight-light h1 mx-auto" style="align-content: center;">
            Récup' & Connaissances, le savoir faire pour demain !
        </p>
        <p class="color-brown font-weight-light h2"> Présentation </p>
        <p class="lead text-justify" id="presentation1">
            AcTI se présente comme un atelier au coeur d'un espace culturel. Des activités pour tous les âges et
            un lieu d'apprentissage, de travail et de création ouvert à tous. On y trouve des produits que ces membres
            créer, des informations sur la transition et l'innovation.
        </p>
        <p class="lead text-justify" id="presentation2">
            Cet espace est animé par l'association EcoCycle qui promeut l'autonomie, la relocalisation des savoir-faires
            et l'économie local. Il est le maillon culturel de son quartier rural sur le domaine la Salamandre.
            Si vous êtes intéréssez par le numérique, les métiers manuels, la réparation et la coopération, sachez que
            vous êtes au bon endroit.

        </p>
    </div>


    <div class="block-white">
        <p class="color-brown font-weight-light h2"> Qu'est ce qu'on y trouve ? </p>
        <p class="lead text-justify m-lg-auto">
            On y trouve un FabLab, un espace de travail, un café associatif et une AMAP.
            Ce lieu d’expérimentation au fonctionnement horizontal et ouvert à tous. Il rassemble une population
            hétérogène et mobile en milieu rural. EcoCycle centré sur le DIY et la recherche est propice aux formations
            numérique, aux énergies renouvelables, au compost et aux mesures physiques.
            Les artistes, les télétravailleurs, les agriculteurs, les entrepreneurs, les PME, les artisans, les
            retraités et les scolaires sont invités à
            partager leurs connaissances et leurs savoirs sur place.
        </p>
        <p class="color-brown font-weight-light h2"> Qu'est ce qu'on y fait ? </p>
        <p class="lead text-justify m-lg-auto">
            A l’ouverture en août 2020, AcTI proposera une salle de 70m2 dédiée aux activités culturelles.
            Vous pourrez consommer des produits locaux du domaine et d'ailleurs.
            Un espace de travail de 50 m2 avec du matériel de reprographie. Un Fablab de 50m2 adapté à l’artisanat
            numérique.
        </p>
    </div>

    <div class="block-white" id="fabdescription">
        <p class="color-brown font-weight-light h2"> FabLab, un atelier partagé et mobile </p>
        <p class="lead text-justify">
            Le FabLab à l’objectif de proposer à termes un atelier complet pour les artisans. Ce Fablab en lien avec la
            recyclerie le pied allez triez, permettra de transformer les déchets en objects utile pour le quotidien.
            Cela permettra aux scolaires et aux publics d’apprendre et de créer.
            Une imprimante 3D, une découpe laser, une fraiseuse CNC, un petit tour, des équipements de mesures, un
            établis et de l’outillage.
            Une salle de 100 m2 permettant d’accueillir des conférences, des formations et des activités à l'occasion.

        </p>
    </div>

</div>

<div id="service" class="mx-auto" style="background: rgba(255,255,255,1); font-size:30px; padding: 30px; margin: 10px">
    <div class="row">
        <div class="mx-auto">
            <button class="btn-services" onclick="showHidden('adhesions')" id="membres"> Devenir membre</button>
            <button class="btn-services" onclick="showHidden('cafeServices')" id="espaceculturel"> La carte</button>
            <button class="btn-services" onclick="showHidden('events')" id="evenement"> Les évènements</button>
            <button class="btn-services" onclick="showHidden('fabServices')" id="fablab"> Le FABLAB</button>
        </div>
    </div>
    <div class="row">
        <div class="mx-auto">
            <div hidden class="service" id="fabServices">
                <h1 class="font-weight-light color-brown"> Le FabLab (ouvert de 9h à 17h) </h1>
                <p> Fermé le jeudi entre midi et 14h </p>
                <div id="fablab-evenements">
                    <ul>
                        <li id="labkid">
                            <div class="row">
                                <p class="col"> labkid</p>
                                <div class="col row">
                                    <p class="col"> 5 € </p>
                                    <div class="col">
                                        <button class="btn btn-success"> Réserver</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="openlab">
                            <div class="row">
                                <p class="col"> Open Lab</p>
                                <div class="col row">
                                    <p class="col"> 5 € </p>
                                    <div class="col">
                                        <button class="btn btn-success"> Réserver</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="own-fork">
                            <div class="row">
                                <p class="col"> Own Fork</p>
                                <div class="col row">
                                    <p class="col"> 5 € </p>
                                    <div class="col">
                                        <button class="btn btn-success"> Réserver</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="jembe-fab">
                            <div class="row">
                                <p class="col"> Jembe-Fab</p>
                                <div class="col row">
                                    <p class="col"> 5 € </p>
                                    <div class="col">
                                        <button class="btn btn-success"> Réserver</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="cafe-bricol">
                            <div class="row">
                                <p class="col"> Café bricol</p>
                                <div class="col row">
                                    <p class="col"> 5 € </p>
                                    <div class="col">
                                        <button class="btn btn-success"> Réserver</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="initiation">
                            <div class="row">
                                <p class="col"> initiation</p>
                                <div class="col row">
                                    <p class="col"> 5 € </p>
                                </div>
                            </div>
                            <ol>
                                <div class="row">
                                    <p class="col"> bureautique</p>
                                    <div class="col">
                                        <button class="btn btn-success"> Réserver</button>
                                    </div>
                                </div>
                            </ol>
                            <ol>
                                <div class="row">
                                    <p class="col"> machine outils</p>
                                    <div class="col">
                                        <button class="btn btn-success"> Réserver</button>
                                    </div>
                                </div>
                            </ol>
                            <ol>
                                <div class="row">
                                    <p class="col"> Arduino</p>
                                    <div class="col">
                                        <button class="btn btn-success"> Réserver</button>
                                    </div>
                                </div>
                            </ol>
                            <ol>
                                <div class="row">
                                    <p class="col"> Sketchup</p>
                                    <div class="col">
                                        <button class="btn btn-success"> Réserver</button>
                                    </div>
                                </div>
                            </ol>
                            <ol>
                                <div class="row">
                                    <p class="col"> Impression 3D</p>
                                    <div class="col">
                                        <button class="btn btn-success"> Réserver</button>
                                    </div>
                                </div>
                            </ol>

                        </li>
                    </ul>
                </div>
            </div>
            <div hidden class="service" id="cafeServices">
                <div id="carte">
                    <h1 class="font-weight-light color-brown"> Le café </h1>
                    <h2 class="lead"> La carte </h2>
                    <div>
                        <div class="row">
                            <div class="col">
                                bière artisanale pression (33cl)
                            </div>
                            <div class="col">2,6 €</div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col"> bière artisanale pression (50cl)</div>
                            <div class="col"> 5 €</div>
                        </div>

                    </div>
                    <div>
                        <div class="row">
                            <div class="col">bière artisanale bouteille (33cl)</div>
                            <div class="col">3 €</div>
                        </div>

                    </div>
                    <div>
                        <div class="row">
                            <div class="col">café</div>
                            <div class="col">0,3 €</div>
                        </div>

                    </div>
                    <div>
                        <div class="row">
                            <div class="col">thé</div>
                            <div class="col">0,3 €</div>
                        </div>

                    </div>
                    <div>
                        <div class="row">
                            <div class="col">crêpe</div>
                            <div class="col">2 €</div>
                        </div>

                    </div>
                    <div>
                        <div class="row">
                            <div class="col">part de gâteau</div>
                            <div class="col"> 2 €</div>
                        </div>
                    </div>
                </div>

            </div>
            <div hidden class="service" id="adhesions">
                <div class="row">
                    <div class="col">
                         <h1 class="font-weight-light color-brown"> Les Pass </h1>
                        <div id="pass">
                            <p class="lead text-justify">
                                Pass nomade limité au lundi mercredi et vendredi 80 €/mois
                            </p>
                            <p class="lead text-justify">
                                Pass annuel illimité <span class="dot">120 €/mois</span>
                            </p>
                            <p class="lead text-justify">
                                Pass journée 30 €
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <h1 class="font-weight-light color-brown"> Les adhésions </h1>
                        <div id="fablab-adhesion">
                            <h6 class="lead"> Adhésion au café comprise + formations machines de 2h </h6>
                            <div id="adhesion-annee">
                                <div id="particuliers">
                                    <div class="row">
                                        <p class="col"> Particulier
                                        </p>
                                        <div class="col row">
                                            <p class="col"> 40 € </p>
                                            <div class="col">
                                                <button class="btn btn-success"> S'abonner</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="associations">
                                    <div class="row">
                                        <p class="col"> Association
                                        </p>

                                        <div class="col row">
                                            <p class="col"> 60 € </p>
                                            <div class="col">
                                                <button class="btn btn-success"> S'abonner</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="professionnels">
                                    <p> Professionnels</p>
                                    <div>
                                        <div class="row">
                                            <p class="col"> entreprise de plus de 10 salariés </p>
                                            <div class="col row">
                                                <p class="col"> 120 €/mois </p>
                                                <div class="col">
                                                    <button class="btn btn-success"> S'abonner</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <p class="col"> entreprise de moins de 10 salariés</p>

                                            <div class="col row">
                                                <p class="col"> 85 €/mois </p>
                                                <div class="col">
                                                    <button class="btn btn-success"> S'abonner</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="row">
                                            <p class="col"> indépendant</p>

                                            <div class="col row">
                                                <p class="col"> 80 €/mois </p>
                                                <div class="col">
                                                    <button class="btn btn-success"> S'abonner</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div hidden class="service" id="events">
                <div id="evenements">
                    <h2 class="lead"> Les évènements </h2>
                    <div>
                        <div class="row">
                            <p class="col">Une scène ouverte le jeudi de 18h à 20h </p>
                            <p class="col">prix libre </p>
                        </div>

                    </div>
                    <div>
                        <div class="row">
                            <p class="col"> Djembe café, Une scène ouverte dédié aux percussion africaine, le dimanche
                                de
                                18h à
                                20h </p>
                            <p class="col">prix libre </p>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <p class="col"> A la découverte de l'art, Une fois par mois, un artisan d’art ou un artiste
                                est
                                invité
                                pour faire découvrir
                                son métier et exposer ces oeuvres au travers du FabLab </p>
                            <p class="col">prix libre </p>
                        </div>

                    </div>
                    <div>
                        <div class="row">
                            <p class="col">Repas du jeudi, l’association propose un repas du jour avec les produits
                                d’EcoCycle
                                12h-14h</p>
                            <div class="col row">
                                <p class="col"> 5,2 € </p>
                                <div class="col">
                                    <button class="btn btn-success"> Réserver</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <p class="col"> Café ciné, un atelier cinéma pour développer ses compétences en
                                cinématographie
                            </p>

                            <div class="col row">
                                <p class="col"> 5 € </p>
                                <div class="col">
                                    <button class="btn btn-success"> Réserver</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/acti.js"></script>
{% endblock %}